*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #151e27 */
body{
    background-color: #00008B;
    font-family: "IBM Plex Mono", monospace;
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
}
p{
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.3em;
    color: #fff;
}

.top-header{
   padding: 30px 15px 40px 15px ;
   height: 35px;
    background-color: rgb(10, 10, 31);
}
.brand-img{
    margin-top: -50px;
   width: 200px; 
   height: 110px;
}
.top-header .social{
    float: right;
    padding-right: 20px;
}
.top-header .social i{
    margin-right: 20px;
    width: 30px;
    color: #fff;

}


/* NAVBAR */




.button{
    padding-right: 30px;

}
.button .btn{
    color: #fff;
    font-size: 1.3em;
}

#banner{
    width: 100%;
    height: 250px;
}
/* BILL BOARD */
.bill-board, .dex, .leaderboard, .info, .footer, .presale, .intro, .features, .tokenomics, .freq{
    padding: 10px 25px;
    text-align: center;
}

.bill-board #rt-img{
    width: 100%;
    
}

#bill-text{
    text-align: end;
}
.bill-board h1{
    font-size: 2em;
    font-weight: bolder;
    line-height: 1.5em;
    margin-top: 20px;
    color: #266ced;
}

#dex-item{
    border: 1px solid gray;
    padding: 5% 0%;
    border-radius: 10px;
    margin: 10px;
    background-color: #1a1e23;

}
.dex{
    margin: auto;
    cursor: pointer;
}

#dex-content{
    text-align: center;
    margin-left: 15%;
}
.dex h4{
    color: #266ced;
    margin-top: 10px;
    font-size: 1.2em;

}
.dex p{
 font-weight: 800;
}

.intro, .features{
    text-align: center;
    padding: 0 13%;
}


.intro h1{
    font-size: 3em;
    font-weight: bolder;
    color: #266ced;
}


.features h2{
    font-size: 55px;
    text-align: start;
    margin-top: 80px;
    font-weight: bolder;
    color: #266ced;
}

.features h4{
    font-size: 25px;
    font-weight: bolder;
}
.features p{
    font-size: 20px;
}


.features .card{
    margin-top: 30px;
    padding: 5% 0%;
    font-size: 15px;
}

.features .card:hover{
    transition: 1s;
    border: 2px solid #266ced;
    background-color: aqua;
    color: #000;
}
 .leaderboard .row{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #1a1e23;
    border-radius: 10px;
    border: 1px solid gray;
}
.leaderboard #cost-bg{
    margin-top: 25px;
    background-color: rgb(0, 0, 255);
    width: 50px;
    padding: 15px;
    border-radius: 10px;
}
.leaderboard p{
    color: #fff;
    margin-top: 10px;
}
.leaderboard h4{
    font-weight: 900;
}

.info img{
    width: 400px;
}

.footer{
    margin-top: 50px;
    border-top: 2px solid gray;
}
.footer img{
    margin-top: 20px;
    width: 100px;
}
.footer .social a{
    margin-right: 25px;
}
.footer p{
    margin-top: 30px;
    margin-bottom: 0px;
    text-transform: italic;
}
.footer i{
    color: #fff;
}

.presale{
    margin: auto;
    width: 80%;
}

.card{
    background-color: #151e27;
    border: 1px solid #fff;
    border-radius: 20px;
}

.card .card-img-top{
    height: 200px;
    border-radius: 20px 20px 0 0;
}

.card #card-icon{
    margin-top: -70px;
    width: 80px;
    height: 80px;
    border-radius: 50% 50%;
    border: 3px solid #fff;
    margin-bottom: 20px;
}
.card h5{
    margin-bottom: 10px;
    border-bottom: 4px solid #fff;
    
}

.card p .btn{
    margin-right: 10px;
    color: #fff;
}

.card .presale-card{
    font-size: 12px;
    background-color: rgb(98, 94, 94);
    border-radius: 10px;
    padding: 10px 0px;
}
.presale{
    margin-top: 100px;
}
.presale span{
    position: absolute;
    margin-top: 25px;

}
.presale #press{
    margin-left: 65%;
}
.presale .card-title{
    color: #fff;
}

.tokenomics h2, .info h2, .freq h2{
    margin-top: 30px;
    font-size: 2.5em;
    font-weight: bolder;
    color: #266ced;
    margin-bottom: 15px;
    text-align: start;
}

.freq{
    text-align: start;
    width: 90%;
    margin: auto;
    font-size: 32px;
    line-height: 1.5em;
}


@media screen and (max-width: 980px) {

    .navbar .nav-item{
        margin-bottom: 30px;
        
    }
    .navbar .nav-item:hover{
        background-color: #266ced;

    }


    body{
        font-size: 32px;
    }
    .brand-img{
        margin-left: -30px;
    }
    .bill-board #bill-text{
        background-image: url("../images/bg4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: color-burn;
        color: #000;
    
    }
    .bill-board h1{
    font-size: 2em;
    font-weight: 600;
    line-height: 1.5em;
    margin-top: 50px;
    text-align: center;
    padding: 10px 20px;
    color: #000;
}

#banner{
    width: 100%;
    height: 20%;
}
.bill-board h3{
    font-size: 1.5em;
    color: #266ced;
    font-weight: 600;
    margin-bottom: 10px;
}
.bill-board #bill-text{
    text-align: center;
}

.bill-board #rt-img{
    width: 100%;
    margin-bottom: 100px;
}
.card .card-img-top{
    height: 350px;
}

.info img{
    width: 70%;
}

.features h4{
    font-size: 43px;
    font-weight: bolder;
}
.features p{
    font-size: 32px;
}
.tokenomics img, #bill-text{
    display: none;
}
.intro{
    margin-top: -70px;

}

}



/* CARD FLIPPING */
